.star {
  opacity: 0;
  animation: loader 2s infinite alternate;
}

.star2 {
  animation-delay: 0.25s;
}

.star3 {
  animation-delay: 0.5s;
}

@keyframes loader {
  0%,
  10% {
    opacity: 0;
    transform: translateY(0) translateX(50px) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px) translateX(0) rotate(360deg);
  }
}
